################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/headless-cms-dotnetcore/.vs/headless-cms-dotnetcore
/.vs
/headless-cms-dotnetcore/Cms.Domain/obj
